body {
  background-color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
	font-family:verdana;
	color:white;
	size: 14px;
	text-align: center;
}